/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/
.gutter {
    height: 100%
}
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
section#home header {
    background: url('/images/index/header-bg.png') no-repeat;
    padding: 0 0 0 50px
}

section#home header p {
    font-family: sofiaprolight;
    width:90%;
    font-size: 20px;
    color: #5B544B;
}
/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
section#home-wrapper{
    position: absolute;
    top:0;
    left:0;
    background: url('/images/index/page_wrapper_bg_1440.png') no-repeat 0 100%;
}

section#home.content-wrapper {
    padding:20px;
    color: black;

}

span.image-on-hover {
    color:#98A3A8;
    cursor: pointer;
}

img#interwebs-img {
    visibility: hidden;
    position: absolute;
    top: 10%;
    left: 45%;
}

img#hostbaby-img {
    visibility: hidden;
    position: absolute;
    top: 65%;
    left: 8%;
}

img#enthusiasm-img {
    visibility: hidden;
    position: absolute;
    top: 68%;
    left: 78%;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
