/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FONT KITS																																																														                  *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS																																																																*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/

/**
 *-----------------------
 * CHANGE PASSWORD
 *-----------------------
 */
 {
    width:80%;
    height: 100%;
    text-align: center;
    margin: 15% auto 0 12%;
    overflow-y: visible;
    overflow-x: hidden;
}

section.control-accordion {
    width:90%;
    background: white;
    margin:20px 2%;
    box-shadow: 4px 6px 8px #000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-family: franchiseregular;
}

section.control-accordion header.control-accordion-header {
    width:100%;
    height:32px;
    background: #A89A8A;
    color: white;
}

section.control-accordion header.control-accordion-header h2 {
    float: left;
    margin: 3px 3px;
}

section.control-accordion header.control-accordion-header span.icon {
    width:32px;
    height:32px;
    padding: 0;
    margin:0 0 3px 0;
    display: inline-block;
    float: right;
    cursor: pointer;
    /*position: relative;*/
    /*top:-10px;*/
    /*left:80%;*/
}

 section.control-accordion header.control-accordion-header span.icon-expand {
    background: url('/images/index/icon_expand.png') no-repeat;
}

 section.control-accordion header.control-accordion-header span.icon-collapse {
    background: url('/images/index/icon_collapse.png') no-repeat;
}

 section.control-accordion section.expanded {
    display: block;
}

 section.control-accordion section.collapsed {
    display: none;
}

 section.control-accordion section.control-accordion-content{
    max-height: 500px;
    width:97%;
    overflow-y: auto;
    overflow-x: hidden;
    padding:10px;
}

section#change-password-content section ul ul {
    margin: 10px 0 0 0;
}

section#change-password-content section li {
    list-style-type: none;
}

section#change-password-content section ul li.text-field {
    /*margin: -20px 0 0 0;*/
}

section#change-password-content ul.update {
    text-align: center;
    margin: 0 auto 0 auto;
}

/* Change Password */
section#change-password-content section#change-password {
    text-align: center;
    width: 27%;
    margin: 0 auto 0 auto;
}

section#change-password-content section#change-password header h4{
    font-family: sofiaprolight;
    text-decoration: underline;
    color:black;
    margin: 5px 0;
}

section#change-password-content section#change-password ul#change-password-list li.field-label{
    font-family: sofiaprolight;
    font-size: 12px;
}

section#change-password-content section#change-password ul#change-password-list input[type="password"],
section#change-password-content section#change-password ul#change-password-list textarea {
    width:100%;
}

/* New User */
section#user-confirmed-wrapper {
    margin:15%;
}

section#user-confirmed-wrapper  section.control-accordion-content {
    padding:5%;
}

section#user-confirmed-wrapper  section.control-accordion-content h2 {
    font-weight: lighter;
    text-align: center;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
