/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FONT KITS																																																														                  *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS																																																																*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
section#control-panel {
    margin:0;
    padding:4px;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

section#control-panel section#admin-panel-wrapper header h1{
    display: inline-block;
    font-size: 3em;
    text-decoration: underline;
    position:relative;
    top:-30px;
    left:0;
}

section#control-panel section#admin-panel-wrapper header h2{
    display: inline-block;
    font-family: sofiaprolight;
    position: relative;
    top:-14px;
    left:-188px;
    font-size: 1em;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
