/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FONT KITS																																																														                  *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS																																																																*
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
.entry-header {
    font-family: franchiseregular;
    font-size: 22px;
    text-decoration: underline;
}

.entry-title{
    margin: 30px 0;
}
/**********************************************************************************************************************************************************
 * CONTENT       																																																															            *
 *********************************************************************************************************************************************************/
section#blog-wrapper {
    position: absolute;
    left: 10080px;
    top: 1080px;
}

section#blog {
    margin-top: 5.5%;
    overflow-y: auto;
    height: 85%;
}

aside.entry-info {
    font-family: sofiaprolight;
    font-size: 11px;
    float: right;
    clear: both;
    height: 100%;
}

aside.entry-info ul {
  border-left: 1px #5b544b solid;
  padding: 0 5px;
}

aside.entry-info ul li {
    list-style-type:  none;
}

article.entry-content p.entry-text {
    width:80%;
    font-family: sofiaprolight;
    font-size: 13px;
}
/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
