/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/


/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/
@import url('fonts/codepro/stylesheet.css');
@import url('fonts/franchise/stylesheet.css');
@import url('fonts/marketing/stylesheet.css');
@import url('fonts/sofiapro/stylesheet.css');

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/
* {
    margin:0;
    padding:0;
}

body {
    width:6000px;
    height:3200px;
    overflow: hidden;
}

div#page-wrapper {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}
/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
header#main-header {
    position: fixed;
    top: 10%;
    left:0;
    background: #4B4B4B;
    padding: 10px 10px 10px 3px;
    z-index: 1000;
}

header#main-header nav#main-nav {
    font-family: franchiseregular;
    font-size: 3em;
    color:#A89A8A;
}

header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item {
    list-style-type: none;
}


header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item a.main-nav-link {
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item a:hover {
    color:#98A3A8;
}
/**********************************************************************************************************************************************************
* CONTENT       																																																															            *
*********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
