/**********************************************************************************************************************************************************
 * IMPORTED STYLES																																																																        *
 *********************************************************************************************************************************************************/
@import url('1140/1140.css');
@import url('1140/ie.css');
@import url('1140/styles.css');

@import url('services/styles.services.css');
@import url('work/styles.work.css');
@import url('blog/styles.blog.css');
@import url('tutorials/styles.tutorials.css');
@import url('code/styles.code.css');
@import url('contact/styles.contact.css');

/**********************************************************************************************************************************************************
* FONT KITS																																																														                  *
*********************************************************************************************************************************************************/
@import url('fonts/codepro/stylesheet.css');
@import url('fonts/franchise/stylesheet.css');
@import url('fonts/marketing/stylesheet.css');
@import url('fonts/sofiapro/stylesheet.css');

/**********************************************************************************************************************************************************
 * DEFAULTS/NORMALIZATIONS/BODY																																																														*
 *********************************************************************************************************************************************************/
* {
    margin:0;
    padding:0;
}

body {
    width:12000px;
    height:5200px;
    overflow: hidden;
    background: url('/images/index/concrete_wall_2.png') repeat;
}

a {
    color:#98A3A8;
    text-decoration: none;
}

/**********************************************************************************************************************************************************
 * HEADER/NAVIGATION        																																																															*
 *********************************************************************************************************************************************************/
header#main-header {
    position: fixed;
    top: 10%;
    left:0;
    background: #4B4B4B;
    padding: 10px 10px 10px 3px;
    z-index: 1000;
}

header#main-header nav#main-nav {
    font-family: franchiseregular;
    font-size: 3em;
    color:#A89A8A;
}

header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item {
    list-style-type: none;
}


header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item a.main-nav-link {
    color:inherit;
    text-decoration: none;
    cursor: pointer;
}

header#main-header nav#main-nav ul#main-nav-list li.main-nav-list-item a:hover {
    color:#98A3A8;
}

.section-title {
    font-family: franchiseregular;
    font-size: 32px;
}
/**********************************************************************************************************************************************************
* CONTENT       																																																															            *
*********************************************************************************************************************************************************/
div#page-wrapper {
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
}

/**********************************************************************************************************************************************************
 * FOOTER      																																																															            *
 *********************************************************************************************************************************************************/

/**********************************************************************************************************************************************************
 *     																																																															            *
 *********************************************************************************************************************************************************/
