/**********************************************************************************************************************************************************
 * HELP WRAPPER																																																																*
 *********************************************************************************************************************************************************/
#epic-help-text-definitions {
    display: none;
}

.epic-help-wrapper {
    display: none;
    width: 600px;
    height:250px;
    background: white;
    padding: 5px;
    position: absolute;
    z-index: 1200;
}
/**********************************************************************************************************************************************************
 * HELP HEADER        																																																															*
 *********************************************************************************************************************************************************/
.epic-help-wrapper header {
    color: white;
    background-color: #a89a8a;
    font-family: franchiseregular;
    height: 32px;
    padding:4px;
}

.epic-help-wrapper header span.close{
    background: url('/images/epic-help/close.gif') no-repeat;
    position: relative;
    top: -16px;
    left:96%;
    display: inline-block;
    width:32px;
    height:32px;
    cursor: pointer;
}
/**********************************************************************************************************************************************************
 * HELP BODY     																																																															            *
 *********************************************************************************************************************************************************/
.epic-help-wrapper section,
.epic-help-wrapper div {
    font-family: sofiaprolight;
    text-align: left;
}

.epic-help-wrapper section p,
.epic-help-wrapper div p {
    margin: 10px 0;
}
/**********************************************************************************************************************************************************
 * OVERLAY      																																																															            *
 *********************************************************************************************************************************************************/
#overlay {
    display: none;
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 1100;
    background-color: #000;
    opacity: .85;
    cursor: pointer;
}
/**********************************************************************************************************************************************************
 * USER STYLES																																																														            *
 *********************************************************************************************************************************************************/
